<div>
  <div class="bg-blue-100 text-gray-800 px-4 py-4 relative">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl md:text-3xl font-bold">Vijay Mali</h1>
      <h2 class="text-xl md:text-2xl mt-3">| Frontend Angular Developer |</h2>
    </div>

    <!-- Logos positioned to the bottom right, side by side -->
    <div class="absolute bottom-0 right-0 flex space-x-2 p-4 mt-4">
      <a
        href="https://www.linkedin.com/in/vijay-mali-161a2222a"
        target="_blank"
        class="flex items-center"
      >
        <img
          src="./assets/link1.jpeg"
          alt="LinkedIn"
          class="w-8 h-8 md:w-10 md:h-10 object-cover object-center rounded-full border border-white shadow-lg"
        />
      </a>
      <a
        href="https://github.com/Vijaym62"
        target="_blank"
        class="flex items-center"
      >
        <img
          src="./assets/github.png"
          alt="GitHub"
          class="w-8 h-8 md:w-10 md:h-10 object-cover object-center rounded-full border border-white shadow-lg"
        />
      </a>
      <a href="mailto:vijaym6269@gmail.com" class="flex items-center">
        <img
          src="./assets/gmail.png"
          alt="Gmail"
          class="w-8 h-8 md:w-10 md:h-10 object-cover object-center rounded-full border border-white shadow-lg"
        />
      </a>
      <a href="https://web.whatsapp.com/" class="flex items-center">
        <img
          src="./assets/what.png"
          alt="Whatsapp"
          class="w-8 h-8 md:w-10 md:h-10 object-cover object-center rounded-full border border-white shadow-lg"
        />
      </a>
    </div>
  </div>
</div>
