<div class="container px-4 py-4">
  <!-- Contact Information -->
  <div class="ml-10">
    <div class="flex-wrap">
      <div class="text-center border mb-4 shadow rounded bg-gray-100 p-4">
        <h1 class="text-2xl font-semibold">Contact Me:</h1>
        <p class="mt-2 text-base">
          I can be reached at the following email:
          <b>vijaym6269&#64;gmail.com</b>
        </p>
        <p class="mt-2 text-base font-semibold">
          Contact No.: <b>+91-9370722708</b>
        </p>
      </div>

      <!-- List Group -->
      <div class="shadow rounded bg-gray-100">
        <a
          href="https://www.linkedin.com/in/vijay-mali-161a2222a"
          target="_blank"
          class="flex items-center gap-3 py-3 px-4 border-b border-gray-200 hover:bg-gray-200"
        >
          <img
            src="./assets/link1.jpeg"
            alt="LinkedIn"
            class="w-16 h-16 object-cover rounded-full border border-white shadow-lg"
          />
          <h3 class="text-lg font-semibold">LinkedIn</h3>
        </a>

        <a
          href="https://github.com/Vijaym62"
          target="_blank"
          class="flex items-center gap-3 py-3 px-4 border-b border-gray-200 hover:bg-gray-200"
        >
          <img
            src="./assets/github.png"
            alt="GitHub"
            class="w-16 h-16 object-cover rounded-full border border-white shadow-lg"
          />
          <h3 class="text-lg font-semibold">GitHub</h3>
        </a>

        <a
          href="https://mail.google.com/mail/u/0/#inbox?compose=new"
          target="_blank"
          class="flex items-center gap-3 py-3 px-4 border-b border-gray-200 hover:bg-gray-200"
        >
          <img
            src="./assets/gmail.png"
            alt="Gmail"
            class="w-16 h-16 object-cover rounded-full border border-white shadow-lg"
          />
          <h3 class="text-lg font-semibold">Gmail</h3>
        </a>

        <!-- Uncomment this block if needed -->
        <!-- <a
          href="//instagram.com"
          target="_blank"
          class="flex items-center gap-3 py-3 px-4 border-b border-gray-200 hover:bg-gray-200"
        >
          <img src="./assets/instagram.png" alt="Instagram" class="w-16 h-16" />
          <h3 class="text-lg font-semibold">Instagram</h3>
        </a> -->
      </div>
    </div>
  </div>
</div>
